---
import MainLayout from "@layouts/MainLayout.astro"
import { Image } from "astro:assets"

import assets_images_certyfikowane_place_zabaw_gwarancja_jakosci_35_lat_jpg_2_jpg from "@assets/images/certyfikowane-place-zabaw/gwarancja-jakosci-35-lat-jpg-2.jpg";

const wpId = 3196
const title = "Certyfikowane place zabaw"
const description = "Nasze urządzenia są nieustannie badane pod kątem bezpieczeństwa i zgodności z najnowszymi normami. Zależny nam, aby dostarczyć produkt, który będzie trwały, bezpieczny i atrakcyjny. Projektujemy, produkujemy i montujemy urządzenia, których bezpieczeństwo potwierdzają certyfikaty wydane przez Instytut Nadzoru Technicznego, który posiada akredytację PCA. Zgodność z normami jest gwarancją, że dzieci bawiące się na naszych placach są ..."
const status = "publish"
const type = "page"
const createdAt = new Date("2015-03-13T11:54:28")
const modifiedAt = new Date("2024-07-31T12:22:20")
const author = "comes_admin"
---

<MainLayout {title} {description}>
<div >
<figure ><Image loading="lazy" decoding="async" width="798" height="180" alt="35 lat na rynku comes" sizes="(max-width: 798px) 100vw, 798px" src={assets_images_certyfikowane_place_zabaw_gwarancja_jakosci_35_lat_jpg_2_jpg} widths={[798, 220, 650, 480, 768, 230, 240]} /></figure></div>

<p >Nasze urządzenia są nieustannie badane pod kątem bezpieczeństwa i zgodności z najnowszymi normami. Zależny nam, aby dostarczyć produkt, który będzie trwały, bezpieczny i atrakcyjny. Projektujemy, produkujemy i montujemy urządzenia, których bezpieczeństwo potwierdzają certyfikaty wydane przez <a href="https://instytut-nadzoru.pl" target="_blank" rel="noopener noreferrer"><strong>Instytut Nadzoru Technicznego</strong></a>, który posiada akredytację PCA. Zgodność z normami jest gwarancją, że <strong>dzieci bawiące się na naszych placach są bezpieczne.</strong> Mogą bez reszty oddać się wspólnej zabawie, eksploracji nowego otoczenia i zaspokajaniu swojej niezmierzonej ciekawości. Tak samo jak troszczymy się o bezpieczeństwo dzieci na placach zabaw, dokładamy także wszelkich starań, aby ćwiczenia na naszych <strong>siłowniach plenerowych i urządzeniach do street workoutu</strong> były wykonywane na urządzeniach gwarantujących bezpieczeństwo. Dlatego dostosowujemy je do aktualnych norm i dbamy o to, aby na każdym etapie wymagania norm zostały spełnione &#8211; od projektu, poprzez produkcję urządzeń i montaż, aż po przeglądy techniczne.</p>



<hr />



<h3  id="h-lista-aktualnych-norm">Lista aktualnych norm</h3>



<ol>
<li><strong>PN-EN 1176-1:2017-12&nbsp;</strong>ogólne wymagania bezpieczeństwa i metody badań&nbsp;</li>



<li><strong>&nbsp;PN-EN 1176-2+AC:2020-01&nbsp;</strong>huśtawki&nbsp;</li>



<li><strong>&nbsp;PN-EN 1176-3:2017-12&nbsp;</strong>zjeżdżalnie&nbsp;</li>



<li><strong>&nbsp;PN-EN 1176-4+AC:2019-03&nbsp;</strong>kolejki linowe&nbsp;</li>



<li><strong>&nbsp;PN-EN 1176-5:2020-03&nbsp;</strong>karuzele&nbsp;</li>



<li><strong>&nbsp;PN-EN 1176-6+AC:2019-03&nbsp;</strong>urządzenia kołyszące&nbsp;</li>



<li><strong>&nbsp;PN-EN 1176-7:2020-09&nbsp;</strong>wytyczne dotyczące montażu, kontroli, konserwacji i eksploatacji&nbsp;</li>



<li><strong>&nbsp;PN-EN 1176-11:2014-11&nbsp;</strong>sieci przestrzenne&nbsp;</li>



<li><strong>&nbsp;PN-EN 15312+A1:2010&nbsp;</strong>sprzęt do koszykówki&nbsp;</li>



<li><strong>&nbsp;PN-EN 16630:2015-06&nbsp;</strong>siłownie plenerowe&nbsp;</li>



<li><strong>&nbsp;PN-EN 748+A1:2018-04&nbsp;</strong>bramki do piłki nożnej&nbsp;</li>



<li><strong>&nbsp;PN-EN 15312+A1:2010&nbsp;</strong>sprzęt do koszykówki&nbsp;</li>
</ol>



<hr />



<p ><strong>Na potrzeby przetargów i sprzedaży dołączamy pełen pakiet dokumentów, w tym ważne certyfikaty na konkretne produkty.</strong> Certyfikaty naszych wyrobów dostępne są na stronach poszczególnych produktów w sekcji &#8220;Pliki do pobrania&#8221;.</p>



<p ><a href="/firma/">Dowiedz się więcej o naszej firmie.</a> Sprawdź, dlaczego warto nam zaufać i wybrać bezpieczne, certyfikowane place zabaw.</p>

</MainLayout>