---
import MainLayout from "@layouts/MainLayout.astro"
import { Image } from "astro:assets"

import assets_images_doradztwo_comes_wyszkow_5_of_18_jpg from "@assets/images/doradztwo/comes-wyszkow-5-of-18.jpg";
import assets_images_doradztwo_11_11_jpg from "@assets/images/doradztwo/11-11.jpg";

const wpId = 3174
const title = "Doradztwo"
const description = "TODO: Add description"
const status = "publish"
const type = "page"
const createdAt = new Date("2015-02-02T15:00:08")
const modifiedAt = new Date("2022-08-30T16:52:05")
const author = "comes_admin"
---

<MainLayout {title} {description}>
        <div id="Doradztwo specjalistyczne"  >
            <div >
                <div >
                    <div >
                        <h3 >Doradztwo specjalistyczne</h3>
<p><big>Podczas planowania przyszłego placu zabaw <strong>pojawiają się przeróżne pytania, oraz konieczność wyboru między alternatywnymi rozwiązaniami</strong>. Wiemy, że <strong>fachowa pomoc i obszerna wiedza z zakresu placów zabaw i siłowni plenerowych, może być bardzo pomocna podczas tego etapu</strong>.</big></p>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- obrazek z tekstem po lewej na home -->
        <div  >
            <div >
                <div >
                                            <Image loading="lazy" decoding="async" width="1920" height="1280" alt="cymbałki plac zabaw" sizes="(max-width: 1920px) 100vw, 1920px" src={assets_images_doradztwo_comes_wyszkow_5_of_18_jpg} widths={[1920, 220, 650, 480, 1080, 768, 1536, 230, 240]} />                          				 
                </div>
                <div >
                    <div >
                        <h3 >Można na nas polegać</h3>
<p><big>Przez wiele lat zgromadzilismy<strong> doświadczenia setek klientów, oraz wybudowaliśmy tysiące placów zabaw</strong>.  Dlatego jako firma Comes wychodzimy naprzeciw problemom napotkanym przez naszych klientów oferując pomoc naszych ekspertów. Służymy doradztwem w zakresie <strong>projektowania i budowy placów zabaw</strong>. Ale także wyboru urzadzeń, oraz kwesti wymogów prawnych odnośnie budowy przyszłego terenu rekreacyjnego. Nasi pracownicy, dzięki swojemu doświadczeniu, pomogą podjąć dobrą decyzję.</big></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- obrazek z tekstem po lewej na home -->
        

        <!-- obrazek z tekstem po lewej na home -->
        <div  >
            <div >
                <div >
                                            <Image loading="lazy" decoding="async" width="1800" height="1200" alt="autko plac zabaw" sizes="(max-width: 1800px) 100vw, 1800px" src={assets_images_doradztwo_11_11_jpg} widths={[1800, 220, 650, 480, 1080, 768, 1536, 230, 240]} />                          				 
                </div>
                <div >
                    <div >
                        <h3 >Projekt koncepcyjny</h3>
<p><big></p>
<p >Przygotujemy także projekt koncepcyjny, który zapewni prawidłowe rozmieszczenie urządzeń z zachowaniem stref bezpieczeństwa, a dzięki <a href="https://silowniecomes.pl/wizualizacje-placu-zabaw/">wizualizacjom</a> mogą Państwo lepiej wyobrazić sobie wygląd przyszłej inwestycji. Zachęcamy do kontaktu z naszym <a href="/kontakt">Biurem Obsługi Klienta</a>.</p>
<p></big></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- obrazek z tekstem po lewej na home -->
        
</MainLayout>