---
import MainLayout from "@layouts/MainLayout.astro"

const wpId = 3200
const title = "FAQs"
const description = "Jak wygląda proces zamówienia w spółce COMES? Czy wyposażenie placów zabaw firmy COMES jest zgodne z polskimi i europejskimi normami? Z czego wykonane jest wyposażenie placów zabaw firmy COMES? Jak wygląda montaż urządzeń na placu zabaw? Ile trwa montaż wyposażenia na placu zabaw? Jaka nawierzchnia może być użyta na placu zabaw? Jaki jest zakres usług ..."
const status = "publish"
const type = "page"
const createdAt = new Date("2015-03-13T11:58:01")
const modifiedAt = new Date("2022-01-27T13:03:46")
const author = "comes_admin"
---

<MainLayout {title} {description}>
<div >

<ol >
<li ><a  href="#1">Jak wygląda proces zamówienia w spółce COMES?</a></li>
<li ><a  href="#2">Czy wyposażenie placów zabaw firmy COMES jest zgodne z polskimi i europejskimi normami?</a></li>
<li ><a  href="#3">Z czego wykonane jest wyposażenie placów zabaw firmy COMES?</a></li>
<li ><a  href="#4">Jak wygląda montaż urządzeń na placu zabaw?</a></li>
<li ><a  href="#5">Ile trwa montaż wyposażenia na placu zabaw?</a></li>
<li ><a  href="#6">Jaka nawierzchnia może być użyta na placu zabaw?</a></li>
<li ><a  href="#7">Jaki jest zakres usług firmy COMES?</a></li>
<li ><a  href="#8">Ile możemy udzielić upustu?</a></li>
<li ><a  href="#9">Czy urządzenia zmieszczą się na naszym placu zabaw?</a></li>
<li ><a  href="#10">Jakimi zasadami kierować się projektując bezpieczny plac zabaw dla dzieci?</a></li>
</ol>
<h4><a name="1"></a>Jak wygląda proces zamówienia w spółce COMES?</h4>
<p>Jeżeli nie jesteście Państwo pewni wyboru urządzeń na plac zabaw, proponujemy spotkanie z naszym przedstawicielem (prosimy o kontakt telefoniczny, wypełnienie formularza kontaktowego lub bezpośredni kontakt na adres bok@comes.pl). Pomoże on Państwu w doborze odpowiednich <strong>urządzeń na plac zabaw</strong> oraz rozwiązań konstrukcyjnych jeżeli chodzi o elementy towarzyszące tj.<strong> nawierzchnia,</strong> <strong>ogrodzenie</strong> oraz <strong>zieleń placu zabaw</strong>. Wykonamy dla Państwa bezpłatnie wizualizacje przyszłego placu zabaw, która zobrazuje przyszły plac zabaw.</p>
<p>W momencie kiedy już wiadomo co się znajdzie na Państwa placu zabaw, a nasza propozycja przypadła Państwu do gustu, zapraszamy do złożenia zamówienia. System płatności jest ustalany indywidualnie, a <strong>na realizację zamówienia potrzebujemy około 4 tygodni</strong>.</p>
<p>Warto również zapoznać się z wpisem na wortalu z poradami Comes Architekci w kategorii: <strong>Budowa Placu Zabaw – Zamówienie</strong></p>
<h4><a name="2"></a>Czy wyposażenie placów zabaw firmy COMES jest zgodne z polskimi i europejskimi normami?</h4>
<p>Tak. Wszystkie nasze produkty są w pełni zgodne z normami <strong>PN-EN 1176 : 2009</strong>, czego zaświadczeniem są certyfikaty zgodności wydane przez jednostkę certyfikującą COBRABID – BBC akredytowaną przez PCA.</p>
<h4><a name="3"></a>Z czego wykonane jest wyposażenie placów zabaw COMES?</h4>
<p>Materiał do produkcji naszych urządzeń dobieramy starając się maksymalizować<strong> jakość, trwałość i bezpieczeństwo</strong>. Konstrukcja naszych urządzeń jest stalowa. Wysokogatunkowa stal jest <strong>zabezpieczona antykorozyjnie</strong> przez <strong>cynkowanie ogniowe</strong> i <strong>malowanie proszkowe</strong>. Wypełnienia boczne i dachy wykonujemy z <strong>płyt HDPE</strong> odpornych na uszkodzenia mechaniczne i działanie czynników atmosferycznych. Śruby, łańcuchy, uchwyty wykonane ze <strong>stali nierdzewnej</strong>. Tak dobrane materiały sprawiają, że trwałość naszych urządzeń jest liczona w dziesiątkach lat.</p>
<h4><a name="4"></a>Jak wygląda montaż urządzeń na placu zabaw?</h4>
<p>Nasze <strong>urządzenia na place zabaw</strong> montowane są na wcześniej przygotowanych prefabrykatach betonowych. Po wykonaniu dołka, umieszczany jest w nim <strong>prefabrykat</strong>, następnie do prefabrykatu przymocowane zostaje urządzenie. W końcowym etapie prefabrykat jest zasypywany materiałem ziemnym i po tak wykonanej pracy urządzenie w tym samym dniu jest oddawane do użytku.</p>
<h4><a name="5"></a>Ile trwa montaż wyposażenia na placu zabaw?</h4>
<p>Standardowy montaż urządzeń zajmuje <strong>od jednego do dwóch dni</strong>. W przypadku kiedy mamy do wykonania elementy towarzyszące typu nawierzchnia, ogrodzenie i zieleń, budowa placu zabaw może potrwać <strong>od tygodnia do maksymalnie dwóch tygodni</strong>.</p>
<h4><a name="6"></a>Jaka nawierzchnia może być użyta na placu zabaw?</h4>
<p>Norma PN EN 1176: 2009 dopuszcza <strong>nawierzchnie na plac zabaw</strong> w zależności od rodzaju urządzenia i jego <strong>wysokości swobodnego upadku</strong> (WSU). Czyli maksymalnej wysokości z jakiej dziecko może spaść na nawierzchnię. Najbardziej popularną nawierzchnią jest <strong>nawierzchnia trawiasta na plac zabaw</strong>, jednak ma ona zastosowanie jedynie w przypadku niewielkich urządzeń, dla których WSU jest mniejsze bądź równe 1,0 m. Dla wyższych urządzeń dużym zainteresowaniem cieszy się <strong>nawierzchnia piaskowa i żwirowa</strong> ze względu na względnie niski koszt wykonania. Droższym elementem placu zabaw jest <strong>nawierzchnia gumowa na plac zabaw</strong> układana na specjalnie przygotowanej podbudowie, natomiast dopuszczalnymi rozwiązaniami są także <strong>nawierzchnie ze sztucznej trawy, kory lub wióry</strong>.</p>
<p>Więcej o nawierzchniasz przeczytasz na:</p>
<ul>
<li>Syntetyczne Nawierzchnie na Plac Zabaw</li>
</ul>
<p>Jak również w poradach naszych ekspertów:</p>
<ul>
<li>Nawierzchnie na Place Zabaw</li>
<li>Nawierzchnie na Place Zabaw – Konserwacja</li>
</ul>
<h4><a name="7"></a>Jaki jest zakres usług firmy Comes?</h4>
<p>Staramy się aby nasza usługa była kompleksowa. Standardowo w naszej ofercie znajduje się:</p>
<ul>
<li><strong>Projektowanie placów zabaw</strong> (w tym opcja wykonania projektu w trybie Zgłoszenia robót budowlanych w odpowiednim urzędzie)</li>
<li>Wykonanie<strong> kosztorysów</strong> na podstawie KNNR oraz <strong>specyfikacji technicznych</strong> (STWiORB)</li>
<li>Bezpłatne <strong>wizualizacje placów zabaw</strong></li>
<li><strong>Wykonawstwo placów zabaw</strong> oraz wszystkich jego elementów takich jak nawierzchnia, ogrodzenie, zieleń itp.</li>
<li><strong>Przeglądy roczne</strong> podstawowe placów zabaw,</li>
<li><strong>Serwis placów zabaw</strong> i dostosowanie do obowiązujących norm</li>
</ul>
<p>Dodatkowo jesteśmy w stanie zaprojektować urządzenie na plac zabaw lub elementy placu zabaw, który Państwo sami wymyślicie.</p>
<h4><a name="8"></a>Ile możemy udzielić upustu?</h4>
<p><strong>Cena placu zabaw</strong> jest ustalana dla każdego klienta indywidualnie. Przede wszystkim jest ona uzależniona od wielkości inwestycji. Zapraszamy każdego klienta do kontaktu na adres bok@comes.pl lub telefonicznie pod numerem telefonu 48 617 48 17, nasi specjaliści przygotują kosztorys Państwa inwestycji w oparciu o aktualne ceny materiałów, sprzętu i robocizny.</p>
<h4><a name="9"></a>Czy urządzenia zmieszczą się na naszym placu zabaw?</h4>
<p>Przy projektowaniu placu zabaw ważnym aspektem jest fakt posiadania przez każde urządzenia swojej <strong>strefy bezpieczeństwa</strong>, czyli minimalnej powierzchni, której potrzebuje każde urządzenie, aby było <strong>bezpieczne dla dziecka</strong>. W naszym katalogu przy każdym urządzeniu są podane <strong>wymiary strefy bezpieczeństwa</strong>. Urządzenia należy rozmieścić tak, aby strefy bezpieczeństwa nie nachodziły na siebie oraz aby w obrębie każdej strefy nie występowały elementy niebezpieczne tj. kamienie, elementy metalowe lub inne elementy nie posiadające odpowiednich właściwości amortyzujących upadku. Jeżeli nie jesteście Państwo pewni rozmieszczenia zapraszamy do kontaktu na adres bok@comes.pl lub telefonicznie pod numerem telefonu 48 617 48 17 i umówienia się na spotkanie z naszym przedstawicielem.</p>
<h4><a name="10"></a>Jakimi zasadami kierować się projektując bezpieczny plac zabaw dla dzieci?</h4>
<p>Główne zasady dotyczące Projektowania placów zabaw można znaleźć na naszej stronie <strong>Comes Architekci</strong>, przeglądając normę PN EN 1176 : 2009 lub kontaktując się z naszym specjalistą (bok@comes.pl).</p>
<p>W przypadku dodatkowych pytań prosimy kontaktować się z naszymi ekspertami w zakładce kontakt na stronie głównej Comes oraz na stronie Comes Architekci.</p>
</div>

</MainLayout>