---
import MainLayout from "@layouts/MainLayout.astro"

const wpId = 2695
const title = "Historia Firmy"
const description = "TODO: Add description"
const status = "publish"
const type = "page"
const createdAt = new Date("2012-12-08T16:20:52")
const modifiedAt = new Date("2024-07-31T12:15:12")
const author = "comes_admin"
---

<MainLayout {title} {description}>
        <!-- obrazek z tekstem -->
        <div id=""  >
            <div >
                <h1 >Historia COMES</h1>
            </div>
        </div>
        <!-- obrazek z tekstem -->
        


<div ><div   data-in="fadeIn" data-reset="false" data-emergence="hidden">





<div  id="Timeline">

	<div >
		<div >
			<div >1984</div>
			<div >
				<div >
					<h3>Początek działalności</h3>				
				</div>

			</div>
			<div >
				<div >
					<p>Marek Sokołowski, 09 stycznia 1984 r. rozpoczął działalność gospodarczą (ślusarstwo ogólne) wykonywaną w miejscowości Sadek 78 k. Szydłowca. Zakład Ślusarski Marka Sokołowskiego zrzeszony był w Spółdzielni Rzemieślniczej Wielobranżowej w Radomiu, a od1988 w Spółdzielni Rzemieślniczej „Rzemiosł Różnych” w Szydłowcu. Początkowo wytwarzano różne akcesoria metalowe do butów piłkarskich.</p>
				</div>
			</div>

		</div>
	</div>

	<div >
		<div >
			<div >1989</div>
			<div >
				<div >
					<h3>Spółka Cywilna Marek i Piotr Jerzy Sokołowski</h3>			
				</div>

			</div>
			<div >
				<div >
					  <p>Od 1989 r. działalność gospodarcza prowadzona jest w formie Spółki Cywilnej Marek Sokołowski i Piotr Jerzy Sokołowski. Zmiana otoczenia społeczno – ekonomicznego po roku 1989 (po przezwyciężeniu początkowych trudności), przyniosła zdynamizowanie rozwoju firmy. Poszerzono działalność o obrót złomem metali nieżelaznych i żelaznych.</p>
				</div>
			</div>

		</div>
	</div>

	<div >
		<div >
			<div >1993-2001</div>
			<div >
				<div >
					<h3>Dynamiczny rozwój firmy</h3>				
				</div>

			</div>
			<div >
				<div >
					<p>Firma COMES produkuje ponad 3 mln. szt. rocznie metalowej galanterii odlewniczej w ponad 400 pozycjach asortymentowych i dostarcza podpórki formierskie do około 50 Odlewni w kraju, znana jest również w wielu miastach Polski, z eleganckich ławek parkowych i urządzeń rekreacyjnych na place zabaw dla dzieci. Od początku naszych starań obraliśmy za Patrona Firmy Św. Józefa (COMES ET NUTRITIUS), kierowaliśmy się zasadami rzetelności i solidności.

Od 1993 roku produkujemy urządzenia zabawowe, od tego czasu osiągnęliśmy znaczącą pozycję rynkową i rozpoznawalność marki w skali ogólnopolskiej. KOLOROWE PLACE ZABAW COMES to synonim solidności, bezpieczeństwa, atrakcyjności zabawowej przy dobrej relacji jakości wyrobów do ceny zakupu.</p>
				</div>
			</div>

		</div>
	</div>

	<div >
		<div >
			<div >2002</div>
			<div >
				<div >
					<h3>Ekspansja firmy</h3>			
				</div>

			</div>
			<div >
				<div >
					<p>Wprowadziliśmy do produkcji wiele nowości w zakresie urządzeń zabawowych min. Kasia-2, Karuzela Jaś, BMX oraz dostosowaliśmy produkowane przez nas urządzenia do wymogów nowowprowadzonych, zintegrowanych do polskich i europejskich norm PN-EN 1176 1-7, 1177.

Zdefiniowaliśmy naszą misję w zakresie realizacji placów zabaw jako stałe dążenie do zaspokojenia oczekiwań dzieci w zakresie atrakcyjności zabawowej urządzeń i oferowanych rozwiązań oraz zapewnieniu wysokiego poziomu bezpieczeństwa i trwałości placów zabaw.

Celem naszym jest dostarczenie właścicielom i zarządcom terenów zabawowych i rekreacyjnych rozwiązań spełniających ich oczekiwania w zakresie produkcji i montażu atrakcyjnych i bezpiecznych urządzeń zabawowych.</p>
				</div>
			</div>

		</div>
	</div>

	<div >
		<div >
			<div >2005</div>
			<div >
				<div >
					<h3>Rozbudowa przestrzeni magazynowej</h3>			
				</div>

			</div>
			<div >
				<div >
					<p>2005 rok był bogaty w wydarzenia dla firmy COMES. Firma rozbudowała wiatę magazynową wykorzystywana do malowania wyrobów, odbudowując tym samym ponad 100m2 powierzchni. Ponadto wybudowaliśmy halę służąca obecnie jako pomieszczenia produkcyjne. Pod koniec roku, w grudniu rozpoczęliśmy budowę ślusarni o powierzchni około 190m2 i pomieszczeń socjalno–biurowych.</p>
				</div>
			</div>

		</div>
	</div>
	<div >
		<div >
			<div >2005</div>
			<div >
				<div >
					<h3>Firma COMES ‚Mecenasem Kultury’</h3>			
				</div>

			</div>
			<div >
				<div >
					<p>W czerwcu 2010r prezes COMES Marek Sokołowski odebrał z rąk burmistrza lędzińskiego Wiesława Stambrowskiego statuetkę „Mecenasa Kultury”. Było to podziękowanie za pomoc w organizacji Jubileuszu Miasta.

Na zaproszenie Ambasady Meksyku Spółka COMES wzięła udział w Pikniku Naukowym w Warszawie. Była to 14 edycja imprezy. Na kilka dni przed rozpoczęciem naukowej imprezy firma COMES została poproszona przez Ambasadę Meksyku o pomoc w zorganizowaniu punktu wykopaliskowego przy jej stoisku. Prośba ta dotyczyła w głównej mierze użyczenia jednego z produkowanych przez nas urządzeń, które miałoby posłużyć jako atrakcja dla najmłodszych uczestników Pikniku. Piaskownica po zakończonym pikniku została przetransportowana do Muzeum Archeologicznego, aby służyła jako pomoc w celach edukacyjnych.

W roku 2010 po raz pierwszy spółka COMES mogła wykonać plac zabaw dla szydłowieckich dzieci, w ramach rządowego programu „Radosna Szkoła”. Gośćmi honorowymi otwarcia obiektu byli minister Zdrowia Ewa Kopacz i radca Ministerstwa Edukacji Narodowej Czesława Kunkiewicz-Waligóra. 11 listopada 2010r. po miejskich uroczystościach Święta Niepodległości, burmistrz Szydłowca Andrzej Jarzyński zaprosił honorowych gości na otwarcie placu zabaw wybudowanego przy Zespole Szkół z Oddziałami Integracyjnymi im. Jana III Sobieskiego. Przede wszystkim należy podkreślić, że na otwarcie obiektu rekreacyjno-wypoczynkowego tłumnie przyszły szydłowieckie dzieci, które oprócz dobrej zabawy, otrzymały słodki upominek oraz gadżety firmy COMES.</p>
				</div>
			</div>

		</div>
	</div>

	<div >
		<div >
			<div >2010</div>
			<div >
				<div >
					<h3>Rozwój i inwestycje</h3>			
				</div>

			</div>
			<div >
				<div >
					  <p>Firma cały czas rozwija zakład produkcyjny i prowadzi nowe inwestycje. W 2011 roku zakończyliśmy budowę hali montażowej o powierzchni użytkowej ponad 600 m2 . Dodatkowo zakupiono nowe maszyny i urządzenia. Całość inwestycji wyniosła około 1 mln złotych. W planach rozwojowych firmy jest dalsza rozbudowa zakładu o kolejne nowe hale produkcyjne o powierzchni blisko 2000m2.</p>
				</div>

			</div>

		</div>
	</div>

	<div >
		<div >
			<div >2012</div>
			<div >
				<div >
					<h3>Certyfikat Rzetelności</h3>			
				</div>

			</div>
			<div >
				<div >
					<p>ZŁOTY CERTYFIKAT RZETELNOŚCI DLA COMES !!! 11 października 2012r. firma Comes Sokołowscy otrzymała Złoty Certyfikat Rzetelności 2012 potwierdzony przez Krajowy Rejestr Długów BIG SA. Certyfikat przyznawany jest podmiotom gospodarczym za szerzenie etycznych zasad w prowadzeniu działalności gospodarczej oraz zdobycie niepodważalnej oceny wiarygodności. Złoty certyfikat to świadectwo uczciwości i solidności dla firmy. Patronat honorowy nad rozdaniem certyfikatów objęło Ministerstwo Gospodarki.

15 października 2012 roku firma Comes Sokołowscy Sp. z o.o. otrzymała Certyfikat Lidera Aktywności Inwestycyjnej za przedsiębiorczość i podejmowanie szeroko zakrojonych działań na rzecz rozwoju firmy.

11.2012 w centrum Targowym Expo Silesia w Sosnowcu odbyło się spotkanie producentów wyposażenia Placów Zabaw. Celem spotkania było założenie skupiającego środowisko wytwórców wyposażenia Placów Zabaw oraz współpraca w zakresie organizacji przedmiotowych targów.
Po burzliwych rozmowach wybrano przewodniczącego zebrania, którym jednogłośnie został Marek Sokołowski. Na sekretarza jednogłośnie wybrano Marcina Janika. Podjęto również stosowne uchwały niezbędne w celu uruchomienia procedur powołania Stowarzyszenia Polskich Producentów wyposażenia Placów Zabaw. Zaproponowany termin targów to 14-16 maja 2013 lub 4-6 czerwca 2013. Targi miałyby być połączone z forum samorządowym, które odbywałoby się równolegle z targami „Plac Zabaw” – pierwszymi takimi targami w Polsce!</p>
				</div>
			</div>

		</div>
	</div>



</div>

</div></div>





</MainLayout>