---
import MainLayout from "@layouts/MainLayout.astro"

const wpId = 3198
const title = "Informacje Techniczno-Handlowe"
const description = "Urządzenia firmy COMES spełniają wymogi bezpieczeństwa i wykonywane są zgodnie ze zintegrowanymi polskimi i europejskimi normami:&nbsp; PN-EN 1176-1:2017-12 ogólne wymagania bezpieczeństwa i metody badań&nbsp; &nbsp;PN-EN 1176-2+AC:2020-01 huśtawki&nbsp; &nbsp;PN-EN 1176-3:2017-12 zjeżdżalnie&nbsp; &nbsp;PN-EN 1176-4+AC:2019-03 kolejki linowe&nbsp; &nbsp;PN-EN 1176-5:2020-03 karuzele&nbsp; &nbsp;PN-EN 1176-6+AC:2019-03 urządzenia kołyszące&nbsp; &nbsp;PN-EN 1176-7:2020-09 wytyczne dotyczące montażu, kontroli, konserwacji i eksploatacji&nbsp; &nbsp;PN-EN 1176-11:2014-11 sieci przestrzenne&nbsp; &nbsp;PN-EN ..."
const status = "publish"
const type = "page"
const createdAt = new Date("2015-03-13T11:56:57")
const modifiedAt = new Date("2022-06-29T12:49:39")
const author = "comes_admin"
---

<MainLayout {title} {description}>

<p>Urządzenia firmy COMES spełniają wymogi bezpieczeństwa i wykonywane są zgodnie ze zintegrowanymi polskimi i europejskimi normami:&nbsp;</p>



<ol><li><strong>PN-EN 1176-1:2017-12 </strong>ogólne wymagania bezpieczeństwa i metody badań&nbsp;</li><li><strong>&nbsp;PN-EN 1176-2+AC:2020-01 </strong>huśtawki&nbsp;</li><li><strong>&nbsp;PN-EN 1176-3:2017-12 </strong>zjeżdżalnie&nbsp;</li><li><strong>&nbsp;PN-EN 1176-4+AC:2019-03 </strong>kolejki linowe&nbsp;</li><li><strong>&nbsp;PN-EN 1176-5:2020-03 </strong>karuzele&nbsp;</li><li><strong>&nbsp;PN-EN 1176-6+AC:2019-03 </strong>urządzenia kołyszące&nbsp;</li><li><strong>&nbsp;PN-EN 1176-7:2020-09 </strong>wytyczne dotyczące montażu, kontroli, konserwacji i eksploatacji&nbsp;</li><li><strong>&nbsp;PN-EN 1176-11:2014-11 </strong>sieci przestrzenne&nbsp;</li><li><strong>&nbsp;PN-EN 15312+A1:2010 </strong>sprzęt do koszykówki&nbsp;</li><li><strong>&nbsp;PN-EN 16630:2015-06 </strong>siłownie plenerowe&nbsp;</li><li><strong>&nbsp;PN-EN 748+A1:2018-04 </strong>bramki do piłki nożnej&nbsp;</li><li><strong>&nbsp;PN-EN 15312+A1:2010 </strong>sprzęt do koszykówki&nbsp;</li></ol>



<ul><li>Zgodność z powyższymi normami urządzeń COMES potwierdzają certyfikaty <strong>z akredytacją PCA</strong>, wydane przez Instytut Nadzoru Technicznego we Wrocławiu (<strong>INT</strong>). </li><li>Montaż urządzeń, ich rozmieszczenie oraz nawierzchnie pod urządzeniami określone są w instrukcjach użytkowania i montażu urządzeń. </li><li>Każde z urządzeń posiada wyznaczoną strefę bezpieczeństwa, którą należy uwzględnić przy montażu tego urządzenia. Istotnym parametrem jest wiek dzieci, dla których planujemy zakup urządzeń zabawowych. </li><li>Na wyprodukowane przez naszą firmę urządzenia udzielamy <strong>minimum 3-letniej gwarancji</strong> na sprawność mechaniczną urządzeń. Warunkiem gwarancji jest przestrzeganie instrukcji użytkowania, eksploatacji i okresowych przeglądów zaleconych przez producenta. Okres gwarancji może zostać przedłużony na 5-ciu lat, w przypadku zlecenia przeprowadzenia po 3-letnik okresie eksploatacji, pogwarancyjnego przeglądu urządzzń przez Autoryzowany Serwis Comes. Gwarancja w zakresie konstrukcji metalowej wynosi 5 lat. Uszkodzenia, które nie powstały z winy producenta, będące wynikiem wandalizmu, niewłaściwego użytkowania czy kradzieży, nie są objęte gwarancją. </li><li><strong>W produkcji urządzeń COMES stosujemy elementy ze stali konstrukcyjnej i nierdzewnej oraz aluminium, płyt polietylenowych HDPE, płyt z tworzywa HPL, sklejki wodoodpornej, gumy, wyrobów gumowanych i tworzywa sztucznego, a także lin stalowo-polipropylenowych </strong></li><li>Do każdego realizowanego zamówienia dołączamy instrukcję montażu, użytkowania i konserwacji oraz certyfikat zgodności.</li><li><strong>Zapewniamy serwis techniczny</strong>. </li></ul>



<p><strong>Naszym klientom służymy radą i pomocą w udzieleniu kompetentnej i fachowej informacji z zakresu tematu placów zabaw. Specjalizujemy się w kompleksowym wykonawstwie placów zabaw, począwszy od stworzenia projektu koncepcyjnego placu, jego wizualizacji, poprzez montaż urządzeń, wykonanie bezpiecznej nawierzchni i ogrodzenia, po nasadzenia zieleni.&nbsp;</strong></p>



<ul><li><strong>Produkowane przez nas urządzenia są objęte ochroną ubezpieczeniową z tytułu wprowadzenia wyrobu do obrotu gospodarczego</strong>. Opcjonalnie ubezpieczamy prace w terenie. Zarządca zobowiązany jest do ubezpieczenia placu zabaw od odpowiedzialności cywilnej (OC).&nbsp;</li><li>Wykonujemy wysokiej jakości zabezpieczenia antykorozyjne, w tym na życzenie klienta cynkowanie ogniowe metalowej konstrukcji wybranych urządzeń zabawowych.&nbsp;</li><li>Istnieje możliwość dostosowania większości konstrukcji urządzeń do montażu na stropie garażu (wymaga indywidualnych konsultacji).&nbsp;</li><li><strong>Producent zastrzega sobie możliwość wprowadzania zmian technicznych przedstawionych w katalogu wyrobów.&nbsp;</strong></li><li><strong>Urządzenia COMES są chronione prawami autorskimi, a ich wzory podlegają ochronie prawnej.&nbsp;</strong></li><li>Szczegółowe informacje techniczne dotyczące urządzeń, zawarte są w kartach technicznych, udostępnianych na życzenie klienta</li></ul>

</MainLayout>