---
import MainLayout from "@layouts/MainLayout.astro"

const wpId = 2645
const title = "Kontakt"
const description = "Kontakt &#8211; Biuro Comes 26-500 Szydłowiec, ul. Kościuszki 128ACzynne: pn-pt 7.30 – 15.30 Sekretariat: Tel: 48 617 48 17 Fax: 48 617 48 19 E-mail: sekretariat@comes.pl Biuro Obsługi Klienta E-mail: bok@comes.pl ☏ Anna Adamiec (Kierownik biura) Tel: 48 617 48 17 (wew. 114) Tel: 725 230 130 E-mail: anna.adamiec@comes.pl ☏ Katarzyna Gozdek (Specjalista ds. handlu)Tel: ..."
const status = "publish"
const type = "page"
const createdAt = new Date("2012-06-13T12:15:13")
const modifiedAt = new Date("2024-07-30T15:25:23")
const author = "comes_admin"
const featuredMedia = {"id":2655,"src":"@assets/images/kontakt/stacjonarny.png","alt":"telefon","caption":""}
---

<MainLayout {title} {description}>








<div >
<div >
<div ><div   data-in="none" data-reset="false" data-emergence="hidden">
<h2  id="h-kontakt-biuro-comes">Kontakt &#8211; Biuro Comes</h2>
<p>26-500 Szydłowiec, ul. Kościuszki 128A<br>Czynne: pn-pt 7.30 – 15.30 </p>
<p ><strong>Sekretariat:</strong><br> Tel: <a href="tel:48 617 48 17">48 617 48 17</a><br> Fax: <a href="tel:48 617 48 19">48 617 48 19</a><br> E-mail:<a href="mailto:%20sekretariat@comes.pl"> sekretariat@comes.pl</a></p>
<p ><strong>Biuro Obsługi Klienta</strong><br> E-mail: <a href="mailto:bok@comes.pl">bok@comes.pl</a></p>
<p>☏ Anna Adamiec (Kierownik biura)<br> Tel: <a href="tel:486174817">48 617 48 17</a> (wew. 114)<br> Tel: <a href="tel:725230130">725 230 130</a><br> E-mail: <a href="mailto:anna.adamiec@comes.pl">anna.adamiec@comes.pl</a>  </p>
<p>☏ Katarzyna Gozdek (Specjalista ds. handlu)<br>Tel: <a href="tel:486174817">48 617 48 17</a> (wew. 115)<br>Tel: <a href="tel:725230170">725 230 170</a><br>E-mail: <a href="mailto:katarzyna.gozdek@comes.pl">katarzyna.gozdek@comes.pl</a></p>
<p>☏ Iwona Stąpór (Specjalista ds. handlu)<br>Tel: <a href="tel:486174817">48 617 48 17</a> (wew. 113)<br>Tel: <a href="tel:603663621">603 663 621</a> <br>E-mail: <a href="mailto:iwona.stapor@comes.pl" target="_blank" rel="noreferrer noopener">iwona.stapor@comes.pl</a> </p>
<p>NIP 7990002408 Regon 670001928 KRS 0001068349&nbsp;</p>
<p>Sąd Rejonowy Lublin Wschód w Lublinie z siedzibą w Świdniku, VI Wydział Gospodarczy Krajowego Rejestru Sądowego&nbsp;</p>
<p>Kapitał zakładowy 3&nbsp;000&nbsp;000,00 zł.</p>
</div></div>



<p>Jeśli chcesz się dowiedzieć więcej o naszej firmie <a href="/firma/">kliknij tutaj</a>. Zapraszamy też na naszą stronę na <a href="https://www.facebook.com/pl.comes/">Facebooku</a>. Z przyjemnością odpowiemy na Twoje pytania.</p>
</div>



<div >
<h2  id="h-kontakt-zaklad-comes">Kontakt &#8211; Zakład Comes</h2>



<p>26-500 Szydłowiec, Sadek 78A<br>Czynne: pn-pt 7.00 – 15.00</p>



<p>Tel. <a href="tel:48 617 89 80">48 617 89 80</a><br>E-mail: <a href="mailto:zakład@comes.pl">zakład@comes.pl</a></p>
</div>
</div>

</MainLayout>