---
import MainLayout from "@layouts/MainLayout.astro"

const wpId = 3224
const title = "Metalowe place zabaw"
const description = "Metalowe place zabaw spółka COMES Sokołowscy wykonuje już od ponad 20 lat. Tworzymy trwałe, bezpieczne, sprzyjające aktywnemu wypoczynkowi przestrzenie placów zabaw i trenów sportowo-rekreacyjnych. W produkcji urządzeń COMES stosujemy elementy ze stali konstrukcyjnej i nierdzewnej oraz aluminium, płyt polietylenowych HDPE, sklejki wodoodpornej, i drewna, gumy, wyrobów gumowanych i plastiku, a także lin stalowo-polipropylenowych. Metalowe place ..."
const status = "publish"
const type = "page"
const createdAt = new Date("2015-04-24T13:16:37")
const modifiedAt = new Date("2019-10-17T08:52:22")
const author = "comes_admin"
---

<MainLayout {title} {description}>
<p ><strong>Metalowe place zabaw spółka COMES Sokołowscy wykonuje już od ponad 20 lat. Tworzymy trwałe, bezpieczne, sprzyjające aktywnemu wypoczynkowi przestrzenie placów zabaw i trenów sportowo-rekreacyjnych. W produkcji urządzeń COMES stosujemy elementy ze stali konstrukcyjnej i nierdzewnej oraz aluminium, płyt polietylenowych HDPE, sklejki wodoodpornej, i drewna, gumy, wyrobów gumowanych i plastiku, a także lin stalowo-polipropylenowych.</strong></p>
<h2 >Metalowe place zabaw COMES</h2>
<p>Malowane proszkowo urządzenia zabezpieczone są przed korozją i uszkodzeniami mechanicznymi dzięki dużej twardości <strong>powłoki proszkowej</strong>. Mają gładkie powierzchnie bez zacieków i zmarszczeń, co gwarantuje duże walory estetyczne. Są <strong>odporne na czynniki atmosferyczne i promieniowanie UV</strong> oraz w pełni <strong>bezpieczne dla ludzi i środowiska</strong>. W celu dodatkowego zabezpieczenia antykorozyjnego stosowany jest <strong>podkład cynkowy</strong> (ok. 90% zawartości cynku) albo <strong>cynkowanie ogniowe</strong>. Farba proszkowa chroni cynk przed utlenianiem i przedłuża jego trwałość. Obie warstwy wzajemnie się uzupełniają. Mogą być również zastosowane najwyższej światowej jakości <strong>farby podkładowe epoksydowe i nawierzchniowe poliuretanowe</strong>.</p>
<h3>Place zabaw bezpieczne dla dzieci</h3>
<p>Urządzenia zabawowe firmy COMES spełniają wymogi bezpieczeństwa i wykonywane są zgodnie ze zintegrowanymi <strong>polskimi i europejskimi normami</strong> ostatnio aktualizowanymi w sierpniu 2009 r. Zgodność z powyższymi normami urządzeń COMES potwierdzają certyfikaty wydane przez Biuro Badań i Certyfikacji Centralnego Ośrodka Badawczo-Rozwojowego Aparatury Badawczej i Dydaktycznej w Warszawie (COBRABiD).</p>
<p>Większość z naszych urządzeń montujemy w prefabrykatach betonowych, co znacznie ułatwia i skraca czas oddania urządzeń do eksploatacji. W przypadku fundamentów o dużych gabarytach stosujemy wylewkę betonową (wymiary zgodnie z instrukcją montażu). Do każdego realizowanego zamówienia dołączamy instrukcję montażu, użytkowania i konserwacji oraz certyfikat zgodności. Zapewniamy także serwis techniczny.</p>
<h3>Metalowe place zabaw gwarancją jakości</h3>
<p>Na wyprodukowane przez naszą firmę urządzenia udzielamy <strong>3-letniej gwarancji</strong>. Warunkiem gwarancji jest przestrzeganie instrukcji użytkowania, eksploatacji i okresowych przeglądów zaleconych przez producenta.</p>
<p>Naszym klientom służymy radą i pomocą w udzieleniu kompetentnej i fachowej informacji z zakresu tematu placów zabaw. Specjalizujemy się w kompleksowym wykonawstwie placów zabaw, począwszy od stworzenia projektu koncepcyjnego placu, jego wizualizacji, poprzez montaż urządzeń, wykonanie bezpiecznej nawierzchni i ogrodzenia, aż po nasadzenia zieleni.</p>
<p><strong>Skontaktuj się już teraz naszym działem obsługi klienta!</strong></p>

</MainLayout>