---
import MainLayout from "@layouts/MainLayout.astro"
import { Image } from "astro:assets"

import assets_images_montaz_i_transport_montaz_placu_zabaw_gdansk_jpg from "@assets/images/montaz-i-transport/montaz-placu-zabaw-gdansk.jpg";

const wpId = 3179
const title = "Montaż i transport"
const description = "TODO: Add description"
const status = "publish"
const type = "page"
const createdAt = new Date("2015-02-02T15:00:50")
const modifiedAt = new Date("2022-08-30T14:16:58")
const author = "comes_admin"
---

<MainLayout {title} {description}>
        <div id=""  >
            <div >
                <div >
                    <div >
                        <h3 >Montaż i transport</h3>
<p>Nasza firma już od wielu lat produkuje i montuje urządzenia na terenie całej Polski. Montaż urządzeń na place zabaw i siłownie plenerowe wykonywany jest przez nasze <strong>wykwalifikowane ekipy montażowe</strong>, wyposażone w samochody i specjalistyczny sprzęt pozwalający szybko, solidnie i bezpiecznie zamontować urządzenia. Dodatkowo, nasi pracownicy przechodzą regularne szkolenia odnośnie produkowanych urządzeń, obowiązujących norm <strong>PN-EN 1176</strong>. <strong>Bezpieczeństwo użytkowników, oraz zgodność z Prawem Budowlanym i przepisami dotyczącymi certyfikacji są dla nas priorytetem.</strong></p>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- obrazek z tekstem po lewej na home -->
        <div  >
            <div >
                <div >
                                            <Image loading="lazy" decoding="async" width="944" height="630" alt="montaż placu zabaw gdańsk" sizes="(max-width: 944px) 100vw, 944px" src={assets_images_montaz_i_transport_montaz_placu_zabaw_gdansk_jpg} widths={[944, 220, 650, 480, 768, 230, 240]} />                          				 
                </div>
                <div >
                    <div >
                        <h3>Dlaczego warto zdecydować się na montaż Comes?</h3>
<p>Urządzenia montujemy zgodnie <strong>z ustawą z dnia 7 lipca 1994 r. prawo budowlane</strong> – Rozdział 4, art. 30, pkt. 4 , oraz zgodnie z rozporządzeniem ministra infrastruktury z dnia 12 kwietnia 2002r, w sprawie warunków technicznych, jakim powinny odpowiadać budynki i ich usytuowanie.</p>
<p><strong>Wybierając nasz montaż macie Państwo pewność, że usługa wykonywana jest przez wyspecjalizowane ekipy montażowe</strong>, a wybrane urządzenia zostaną zamontowane i tak rozmieszczone, <strong>aby zachować bezpieczne strefy</strong> i zapewnić szlaki komunikacyjne dla bawiących się dzieci.</p>
<p>Usługa montażu świadczona przez naszą firmę <strong>daje gwarancję, że każde urządzenie zostanie zmontowane zgodnie z wytycznymi producenta oraz instrukcją montażu. </strong>Bezpieczeństwo użytkowników jest dla nas sprawą priorytetową. Należy pamiętać, że <strong>nieprawidłowy montaż, nieprzestrzeganie stref bezpieczeństwa oraz nieodpowiednie podłoże są zagrożeniem dla bawiącego się dziecka. </strong> Warto zwrócić uwagę, iż wcześniej wymienione zagrożenia mogą dodatkowo stać się przyczyną szybszego zużycia urządzeń oraz utraty gwarancji.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- obrazek z tekstem po lewej na home -->
        

        <!-- obrazek z tekstem po lewej na home -->
        <div  >
            <div >
                
                <div >
                    <div >
                        <h3  >Flota Transportowa Marki Iveco</h3>

<div >
<p><span >Firma Comes posiada własną flotę transportową marki  IVECO, dzięki czemu jesteśmy w stanie zaoferować kompleksowe działania transportowe i montażowe. Możemy zaoferować naszym klientom dostawy samochodami o różnych masach całkowitych, gwarantujące dostawy towaru w miejsca określone przez klienta. Dodatkowo posiadamy samochód specjalistyczny z HDS. Ułatwia to wyładunek na miejscu dostawy i obniża koszty ponoszone przez naszego odbiorcę. Wszystkie nasze samochody spełnią najwyższe standardy bezpieczeństwa i ochrony środowiska, są regularnie serwisowane w ASO IVECO. Na wyposażeniu posiadamy również samochód serwisowy, z kompletnym wyposażeniem, co umożliwia wykonywanie napraw gwarancyjnych i pogwarancyjnych bezpośrednio u klienta.</span></p>
</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- obrazek z tekstem po lewej na home -->
        
</MainLayout>