---
import MainLayout from "@layouts/MainLayout.astro"

const wpId = 2703
const title = "Place zabaw COMES w Warszawie"
const description = "Przedsiębiorstwo COMES Sokołowscy Sp. z o.o. to polska firma działająca na rynku już od 30 lat. Produkcją wyposażenia  placów zabaw firma zajmuje się od 20 lat. Są to urządzenia cieszące się dużym zainteresowaniem &#8211; można je spotkać  na osiedlach mieszkaniowych, przy szkołach  i przedszkolach oraz terenach rekreacyjnych na terenie całego kraju oraz poza jego granicami. ..."
const status = "publish"
const type = "page"
const createdAt = new Date("2014-09-05T14:13:47")
const modifiedAt = new Date("2024-07-31T12:23:24")
const author = "comes_admin"
---

<MainLayout {title} {description}>
<p><strong>Przedsiębiorstwo COMES Sokołowscy Sp. z o.o. to polska firma działająca na rynku już od 30 lat. Produkcją wyposażenia  placów zabaw firma zajmuje się od 20 lat. Są to urządzenia cieszące się dużym zainteresowaniem &#8211; można je spotkać  na osiedlach mieszkaniowych, przy szkołach  i przedszkolach oraz terenach rekreacyjnych na terenie całego kraju oraz poza jego granicami. Urządzenia na place zabaw COMES służą zabawie i są niezbędnym elementem gwarantującym prawidłowy rozwój fizyczny i umysłowy dzieci i młodzieży. Nasze realizacje na terenie Warszawy to m. in. :</strong></p>
<ul>
<li>Plac zabaw przy Szkole Podstawowej nr 298, ul. Krakusa 2; Warszawa</li>
<li>Plac zabaw przy Szkole Podstawowej nr 275, ul. Hieronima 2; Warszawa</li>
<li>Plac zabaw przy Przedszkolu nr 24, ul. Drewniana 10; Warszawa – Śródmieście</li>
<li>Plac zabaw na terenie Spółdzielni Mieszkaniowej „Ursus” w Warszawie</li>
<li>Plac zabaw przy Przedszkolu nr 75, ul. Rozłogi 4a; Warszawa</li>
<li>Plac zabaw na terenie Spółdzielni Budowlano – Mieszkaniowej „Vistula” w Warszawie</li>
<li>Plac zabaw przy Szkole Podstawowej, ul. Szczęśliwicka 45; Warszawa</li>
<li>Plac zabaw przy Zespole Szkół Podstawowych Nr 109, ul. Białobrzeska 44; Warszawa</li>
</ul>
<p>Bezpieczne place zabaw <b>dla dzieci</b></p>
<p>Place zabaw powinny być funkcjonalne, atrakcyjne dla ich użytkowników oraz co najważniejsze – bezpieczne. Planując stworzenie miejsca zabaw dla dzieci powinniśmy zwrócić uwagę na wybór odpowiedniego miejsca, rodzaju urządzeń  i dostawcy. Dzięki wieloletniemu doświadczeniu, wiemy, że wyobraźnia dzieci  i młodzieży wymaga odpowiednich rozwiązań technologicznych, opartych na trwałości materiałów i zapewnieniu maksymalnego bezpieczeństwa. Wyroby naszej firmy łączą piękne wzornictwo polskich projektantów z najwyższą technologią wykonania. Potwierdzają to uzyskane certyfikaty Biura Badań i Certyfikacji COBRABID-BBC w Warszawie. Tworzymy place zabaw o konstrukcjach wykonanych ze stali, a także odpornego na złamania, pęknięcia i działanie niekorzystnych warunków atmosferycznych &#8211; tworzywa HDPE.</p>

</MainLayout>