---
import MainLayout from "@layouts/MainLayout.astro"

const wpId = 3222
const title = "Plac Zabaw Integracyjny"
const description = "W dzisiejszych czasach coraz więcej mówi się o problemie niepełnosprawności wśród najmłodszych. Staramy się likwidować bariery architektoniczne tworząc pochylnie obok schodów, barierki, odpowiednio wyposażone toalety, czy likwidując wystające krawężniki. Niestety, to wciąż zbyt mało. Brakuje miejsc do bezpiecznego wypoczynku i zabawy przystosowanych do potrzeb dzieci niepełnosprawnych – i to nie tylko tych poruszających się na ..."
const status = "publish"
const type = "page"
const createdAt = new Date("2015-04-15T14:31:05")
const modifiedAt = new Date("2019-10-08T10:35:45")
const author = "comes_admin"
const featuredMedia = {"id":2821,"src":"@assets/images/plac-zabaw-integracyjny/plac-zabaw-integracyjny-comes.jpg","alt":"Alt text missing","caption":""}
---

<MainLayout {title} {description}>
<p><strong>W dzisiejszych czasach coraz więcej mówi się o problemie niepełnosprawności wśród najmłodszych. Staramy się likwidować bariery architektoniczne tworząc pochylnie obok schodów, barierki, odpowiednio wyposażone toalety, czy likwidując wystające krawężniki. Niestety, to wciąż zbyt mało. Brakuje miejsc do bezpiecznego wypoczynku i zabawy przystosowanych do potrzeb dzieci niepełnosprawnych – i to nie tylko tych poruszających się na wózkach inwalidzkich. Kiedy planujemy budowę integracyjnego placu zabaw – powinniśmy zadbać o to, by było to miejsce naprawdę integrujące i wszystkie dzieci mogły wspólnie spędzać czas, a te mniej sprawne maluchy &#8211; nie czuły się odizolowane.</strong></p>
<h2>Place zabaw, które dają radość zabawy wszystkim dzieciom</h2>
<p><strong>Zabawa stanowi integralną część procesu kształtowania postawy młodego człowieka</strong> – zarówno pod względem fizycznym jak i&nbsp;psychicznym. Poprzez wspólną zabawę dzieci uczą się współpracy, zawierają przyjaźnie, rozwijają swoją kreatywność, mogą uczestniczyć w samodzielnie ‘wyreżyserowanych’ ćwiczeniach – dla nich nie ma podziałów <strong>na sprawnych i niepełnosprawnych</strong>. Niestety, zwykle to dorośli uczą je pewnych postaw i schematów.</p>
<figure id="attachment_1025" aria-describedby="caption-attachment-1025"  ><img loading="lazy" decoding="async"  src="http://placezabaw.silowniecomes.pl/wp-content/uploads/placezabaw/2015/04/plac-zabaw-integracyjny-COMES.jpg" alt="plac zabaw integracyjny COMES" width="800" height="602"><figcaption id="caption-attachment-1025" >Rys. 1 Przykładowa wizualizacja integracyjnego placu zabaw</figcaption></figure>
<h3>Budowa placu zabaw integracyjnego</h3>
<p>Budowa placu integracyjnego placu zabaw powinna być wcześniej dobrze przemyślana. Należy zastanowić się nad <strong>odpowiednią lokalizacją</strong> (plac zabaw widoczny z okien budynku szkoły lub domu, w&nbsp;miarę blisko wejść/ wyjść z terenu, z dala od ruchu samochodowego i innych zagrożeń, nie&nbsp;blokujący tras komunikacji pieszej, będący poza zasięgiem obszarów boisk (ryzyko uderzenia piłką), racjonalnie chroniony przed bezpośrednim wejściem osób nieupoważnionych, a w nocy i&nbsp;wieczorem dobrze oświetlony).</p>
<p><strong>Sprzęty powinny być wybierane pod względem jakości, ilości możliwych zastosowań oraz atrakcyjności dla samych użytkowników</strong>. Jeśli to możliwe, warto wcześniej przeprowadzić ankietę na temat „co dzieci najchętniej robiłyby na placu zabaw i jakie sprzęty preferują”. Oczywiście nie wszystkie wytyczne muszą być zrealizowane – jednak takie opinie mogą być bardzo pomocne podczas tworzenia projektu.</p>
<p>Poza urządzeniami warto zaplanować zieleń. Rośliny jak żaden inny materiał wpływają na zmysły dzieci. Bogactwo faktur, zmieniające się wraz z porami roku kolory, zapachy i kształty – rośliny to doskonały element edukacyjny i ozdobny zarazem. Atrakcyjne miejsce zabaw i&nbsp;rekreacji przy szkole wpływa korzystnie na wizerunek samej placówki oraz&nbsp;poczucie wartości uczących się tam dzieci – to samo dotyczy osiedli mieszkaniowych.</p>
<h4>Integracyjne wyposażenie placów zabaw spółki COMES</h4>
<p><strong>COMES proponuje szeroki asortyment wyposażenia placów zabaw, m. in. zabawowe urządzenia integracyjne (np. Huśtawka wahadłowa z siedziskiem typu Bocianie gniazdo, Karuzela Małgosia, Huśtawka Rodeo Max 2, Tunel integracyjny, czy Zestaw Maja – Rys. 1). </strong>Nasze produkty charakteryzują się solidnym wykonaniem i funkcjonalnością. Bogaty wybór wzorów i kolorów, trwała konstrukcja oraz unikalne rozwiązania sprawiają, że urządzenia te są odpowiednie na każdy plac zabaw. Doskonale sprawdzą się także, jako pomoc podczas lekcji wychowania fizycznego.</p>
<p>Skontaktuj się z naszymi specjalistami już teraz!</p>

</MainLayout>