---
import MainLayout from "@layouts/MainLayout.astro"

const wpId = 3182
const title = "Przeglądy placów zabaw"
const description = "Place zabaw podlegają trzem rodzajom kontroli, które powinny być wykonywane z&nbsp;częstotliwością zalecaną przez producenta urządzeń. Z chwilą oddania placu zabaw do użytku, administrator powinien zadbać o przeszkolenie pracowników odpowiedzialnych za wykonywanie kontroli codziennych oraz funkcjonalnych. Raz w roku należy zlecić wykonanie kontroli podstawowej osobie kompetentnej w zakresie normy PN-EN 1176-1:2009. Należy pamiętać, że kontrolom podlegają ..."
const status = "publish"
const type = "page"
const createdAt = new Date("2015-02-02T15:01:11")
const modifiedAt = new Date("2019-10-08T12:31:34")
const author = "comes_admin"
---

<MainLayout {title} {description}>
<p><strong>Place zabaw</strong> podlegają trzem rodzajom kontroli, które powinny być wykonywane z&nbsp;częstotliwością zalecaną przez producenta urządzeń. Z chwilą oddania placu zabaw do użytku, administrator powinien zadbać o przeszkolenie pracowników odpowiedzialnych za wykonywanie kontroli codziennych oraz funkcjonalnych. Raz w roku należy zlecić wykonanie kontroli podstawowej osobie kompetentnej w zakresie <strong>normy PN-EN 1176-1:2009</strong>. Należy pamiętać, że kontrolom podlegają wszystkie elementy placu zabaw, łącznie z koszami, ławkami i ogrodzeniem. Firma Comes jako producent placów zabaw, oferuje <strong>przeglądy placów zabaw</strong> z uwzględnieniem zapisów normy PN-EN 1176:2009. Zapraszamy do zapoznania się z naszymi usługami w zakresie kontroli miejsc rekreacyjnych dla dzieci.</p>
<h3>Rodzaje Przeglądów i Szkolenia</h3>
<h4><strong>Przeglądy pogwarancyjne placów zabaw</strong></h4>
<p>Płatny przegląd wykonywany po 3 letnim okresie eksploatacji urządzeń przez <strong>Autoryzowany Serwis Comes Sokołowscy</strong>. Po wykonaniu zaleceń pokontrolnych z przeglądu, przedłużana jest gwarancja na okres łączny 5 lat. Opcja gwarancji 5-letniej dotyczy urządzeń zabezpieczonych antykorozyjnie przez proces cynkowania ogniowego. Metalowe place zabaw naszej firmy spełniają najwyższe standary bezpieczeństwa i są gwarancją najlepszej jakości wyposażenia jakie można zamontować na placu zabaw.</p>
<h4><strong>Przegląd roczny podstawowy wynikający z normy PN-EN 1176:2009</strong></h4>
<p>Wykonywany przez naszych specjalistów, którzy przeprowadzają badania techniczne urządzeń zabawowych i oceniają ogólny poziom bezpieczeństwa. Przegląd podstawowy nie obejmuje oceny zgodności z normą PN-EN 1176:2009, a jedynie analizę ryzyka z uwzględnieniem jej zapisów. Oferujemy także przeglądy urządzeń w aspekcie ich oceny na zgodność z normą PN-EN 1776-1:2009 (np. odbiór nowo wybudowanych placów zabaw).</p>
<h3>Wdrożenie Książki Placów Zabaw</h3>
<p>Książka Placu Zabaw umożliwia spełnienie wymogów normy w zakresie utrzymania i prowadzenia odpowiedniej dokumentacji placu zabaw. Powinna gromadzić informację o stanie urządzeń zabawowych, nawierzchni amortyzującej i wyposażeniu dodatkowym. Ma być również źródłem informacji dla właściwych organów w razie nieszczęśliwego wypadku.</p>
<h3>Szkolenie administratorów w zakresie prowadzenia Książki Placu Zabaw</h3>
<p>Szkolenie trwa około 1-2h i obejmuje:</p>
<p>&#8211; część teoretyczna – prowadzenie zapisów w KPZ,<br />
&#8211; część praktyczna (na placu zabaw) – sposób prowadzenie kontroli regularnych i funkcjonalnych.</p>

</MainLayout>