---
import MainLayout from "@layouts/MainLayout.astro"
import { Image } from "astro:assets"

import assets_images_urzadzenia_sprawnosciowe_comes_internet_1650_1_1593_1536x1024_jpg from "@assets/images/urzadzenia-sprawnosciowe-comes/internet-1650-1-1593-1536x1024.jpg"
import assets_images_urzadzenia_sprawnosciowe_comes_hq_1872_1536x1024_jpg from "@assets/images/urzadzenia-sprawnosciowe-comes/hq-1872-1536x1024.jpg"

const wpId = 3213
const title = "Urządzenia sprawnościowe COMES"
const description =
	'Urządzenia sprawnościowe COMES to 20 urządzeń do ćwiczeń sprawnościowo-ruchowych systemu STHENOS, idealnie nadających się do "street workout", czyli tak zwanego treningu ulicznego. Korzystanie z nich polega na treningu siłowym, opartym o ćwiczenia z wykorzystaniem masy własnego ciała (aktywność fizyczna tzw. "Kalistenika", wywodząca się ze starożytnej Grecji i Rzymu). Przykłady ćwiczeń zaliczanych do wspomnianej metody to m. ...'
const status = "publish"
const type = "page"
const createdAt = new Date("2015-04-11T21:54:43")
const modifiedAt = new Date("2024-07-03T10:17:21")
const author = "comes_admin"
const featuredMedia = {
	id: 3214,
	src: "@assets/images/urzadzenia-sprawnosciowe-comes/urzadzenia-sprawnosciowe-comes-widok-1.jpg",
	alt: "urządzenia sprawnościowe comes",
	caption: ""
}
---

<MainLayout {title} {description}>
	<p>
		<strong
			>Urządzenia sprawnościowe COMES to 20 urządzeń do ćwiczeń sprawnościowo-ruchowych systemu
			STHENOS, idealnie nadających się do „street workout”, czyli tak zwanego treningu ulicznego.
			Korzystanie z nich polega na treningu siłowym, opartym o ćwiczenia z wykorzystaniem masy
			własnego ciała (aktywność fizyczna tzw. „Kalistenika”, wywodząca się ze starożytnej Grecji i
			Rzymu). Przykłady ćwiczeń zaliczanych do wspomnianej metody to m. in. pompki, unoszenie nóg,
			podciąganie na drążku, przysiady, mostek. Taki rodzaj treningu poprawia koordynację ruchową,
			równowagę, rzeźbę mięśni oraz nastrój!<br />
		</strong>
	</p>
	<p>
		<Image
			loading="lazy"
			decoding="async"
			alt="Baza treningowa Street Workout Comes. Siłownia plenerowa."
			width="1000"
			height="667"
			sizes="(max-width: 1000px) 100vw, 1000px"
			src={assets_images_urzadzenia_sprawnosciowe_comes_internet_1650_1_1593_1536x1024_jpg}
			widths={[1536, 220, 650, 480, 1080, 768, 230, 240, 1920]}
		/>
	</p>
	<h2>Urządzenia sprawnościowe COMES</h2>
	<p>
		Tak, jak w przypadku placu zabaw dla młodszych dzieci – planując budowę <strong
			>terenu sportowo-rekreacyjnego dla młodzieży</strong
		>, należy dokładnie przemyśleć kwestię wyposażenia. Powinny znaleźć się tam urządzenia <strong
			>odporne na większe obciążenia</strong
		>, umożliwiające wykonywanie trudniejszych ćwiczeń. Przykładem przestrzeni dla młodych ludzi,
		która pozwala na rozładowanie nadmiaru energii i kształtowanie sylwetki, są popularne w ostatnim
		okresie <strong>place z urządzeniami sprawnościowymi</strong>.
	</p>
	<p>
		Odpowiednio skonstruowane elementy systemu STHENOS jak <strong
			>drążki, poręcze czy ławeczki mogą być łączone w rozmaite zestawy</strong
		> (jeden z nich przedstawiamy poniżej). Nie są to zwykłe drążki &#8211; urządzenia mają zastosowanie
		podczas lekcji wychowania fizycznego, treningu sportowego, oraz innych form ogólnego rozwoju fizycznego.
		<strong>Konstrukcja jest wykonana ze stali</strong>, a jej elementy połączone specjalnymi
		obejmami systemowymi, co zapewnia odporność na obciążenia i stabilność konstrukcji. Design
		naszych urządzeń pasuje do każdej przestrzeni, a dzięki systemowi modułów &#8211; <strong
			>urządzenia mogą być zastosowane w komplecie lub pojedynczo</strong
		>, z zachowaniem stref bezpieczeństwa.
	</p>
	<figure id="attachment_1016" aria-describedby="caption-attachment-1016">
		<img
			loading="lazy"
			decoding="async"
			src="http://placezabaw.silowniecomes.pl/wp-content/uploads/placezabaw/2015/04/urzadzenia-sprawnosciowe-comes-widok-2.jpg"
			alt="urządzenia sprawnościowe comes "
			width="840"
			height="401"
		/><figcaption id="caption-attachment-1016">
			Przykładowy plac do ćwiczeń<br />z zestawem urządzeń sprawnościowych STHENOS. Widok 2
		</figcaption>
	</figure>
	<p><strong>WYMIARY PLACU: 15 x 15,4 m</strong></p>
	<p>
		Tego typu miejsca do ćwiczeń cieszą się coraz większym zainteresowaniem w naszym kraju.
		Umożliwiają młodym ludziom doskonalenie własnego ciała i umiejętności, stanowiąc zarazem okazję
		do towarzyskich spotkań. Dodatkowym atutem jest czas spędzony na świeżym powietrzu.
	</p>
	<p>
		Różnorodność urządzeń sprawnościowych systemu Sthenos pozwala na trening dostosowany do
		możliwości użytkownika.
	</p>
	<p><strong>Wykorzystane urządzenia sprawnościowe COMES</strong>:</p>
	<ol>
		<li>
			<a title="Urządzenie sprawnościowe STHENOS 5" href="/p/street-workout-sthenos-5/">Sthenos 5</a
			> nr katalogowy 15.05.0
		</li>
		<li>
			<a title="Urządzenie sprawnościowe STHENOS 6" href="/p/street-workout-sthenos-6/">Sthenos 6</a
			> nr katalogowy 15.06.0
		</li>
		<li>
			<a title="Urządzenie sprawnościowe STHENOS 8" href="/p/urzadzenie-sprawnosciowe-sthenos-8a/"
				>Sthenos 8</a
			> nr katalogowy 15.08.0
		</li>
		<li>
			<a title="Urządzenie sprawnościowe STHENOS 9" href="/p/street-workout-sthenos-9b/"
				>Sthenos 9</a
			> nr katalogowy 15.09.0
		</li>
		<li>
			<a title="Urządzenie sprawnościowe STHENOS 10" href="/p/street-workout-sthenos-10/"
				>Sthenos 10</a
			> nr katalogowy 15.10.0
		</li>
		<li>
			<a title="Urządzenie sprawnościowe STHENOS 13" href="/p/street-workout-sthenos-13/"
				>Sthenos 13</a
			> nr katalogowy 15.13.0
		</li>
		<li>
			<a title="Urządzenie sprawnościowe STHENOS 14" href="/p/urzadzenie-sprawnosciowe-sthenos-14/"
				>Sthenos 14</a
			> nr katalogowy 15.14.0
		</li>
		<li>
			<a title="Urządzenie sprawnościowe STHENOS 17" href="/p/street-workout-sthenos-17/"
				>Sthenos 17</a
			> – 2szt nr katalogowy 15.17.0
		</li>
		<li>
			<a title="Urządzenie sprawnościowe STHENOS 19" href="/p/street-workout-sthenos-19/"
				>Sthenos 19</a
			> nr katalogowy 15.19.0
		</li>
		<li>
			<a title="Ławka Narożna Łukowa" href="/p/lawka-narozna-lukowa/">Ławka narożna łukowa</a> – 2 szt
			nr katalogowy 09.95.0
		</li>
		<li>
			<a title="Ławka Narożna Kątowa" href="/p/lawka-narozna-katowa/">Ławka narożna kątowa</a> nr katalogowy
			09.96.0
		</li>
		<li>
			<a title="Kosz parkowy okrągły Retro" href="/p/kosz-parkowy-okragly-retro/"
				>Kosz parkowy okrągły „Retro”</a
			> – 2 szt nr katalogowy 10.97.0
		</li>
		<li>
			<a title="Stojak Rowerowy „Bóbr”" href="/p/stojak-rowerowy-bobr/">Stojak rowerowy „Bóbr”</a> nr
			katalogowy 10.86.0
		</li>
	</ol>
	<p>
		<Image
			loading="lazy"
			decoding="async"
			alt="Street Workout Szydłowiec"
			width="1000"
			height="667"
			sizes="(max-width: 1000px) 100vw, 1000px"
			src={assets_images_urzadzenia_sprawnosciowe_comes_hq_1872_1536x1024_jpg}
			widths={[1536, 220, 650, 480, 1080, 768, 230, 240, 1920]}
		/>
	</p>
	<h2>
		„Kalistenika” i „Street Workout” – te dwie nazwy określają bardzo podobny sposób wykonywania
		ćwiczeń – z jedna różnicą.
	</h2>
	<div>
		<div>
			<p>
				<b>Street Workout</b> – Koncepcja takiego treningu jest znana już od wielu, wielu lat – lecz
				od pewnego czasu można zauważyć jej ‘odrodzenie’. Dzieje się tak za sprawą promocji (zwłaszcza
				w Stanach Zjednoczonych) koncepcji Street Workout’u, czyli treningu ulicznego. Tego typu trening
				bazuje na wykonywaniu ćwiczeń opartych o masę własnego ciała (tak jak w przypadku Kalisteniki)
				<b>ale z wykorzystaniem wszystkiego co się nadaje do treningu „na mieście”</b>. W Street
				Workout korzysta się dziś z coraz powszechniejszych placów z urządzeniami konstruowanymi
				specjalnie w tym celu. Są to specjalne drabinki, drążki, poręcze, czy też ławeczki, które
				można łączyć w mniej lub bardziej rozbudowane zestawy. Urządzenia do ćwiczeń sprawnościowych
				powinny być solidne, trwałe i wytrzymałe na duże obciążenia. Dzięki różnorodnej ofercie
				dostępnych urządzeń możemy dostosować trening do własnych możliwości. Tereny pozwalające na
				tego typu aktywność cieszą się coraz większym zainteresowaniem w naszym kraju – zwłaszcza
				wśród młodzieży. Wspólne wykonywanie ćwiczeń, to nie tylko świetny sposób na doskonalenie
				własnego ciała i umiejętności lecz także okazja do towarzyskich spotkań na świeżym
				powietrzu.
			</p>
		</div>
	</div>
	<div>
		<div>
			<p>
				<b>Kalistenika</b> – (z greckiego kallos, czyli piękno, oraz sthenos, czyli siła) to pompki (wzmacniają
				klatkę piersiową i tricepsy), podciąganie na drążku (trenuje mięśnie pleców i bicepsy) przysiady
				(wzmacniają mięśnie nóg), unoszenie nóg (mięśnie brzucha) mostka – (mięśnie kręgosłupa) pompki
				na poręczach (dipy – trenują mięśnie obręczy barkowej). Wyżej wymienione ćwiczenia oparte o masę
				własnego ciała są każdemu doskonale znane z lekcji W-Fu w szkole podstawowej. Takie metody ćwiczeń
				były znane i stosowane już przez Starożytnych Greków, którzy ‘rzeźbili’ atletyczne sylwetki pierwszych
				olimpijczyków. W dzisiejszych czasach metody ćwiczeń związane z Kalisteniką są nadal wykorzystywane,
				jak już wcześniej wspomniano – w szkołach, także w szkoleniu wojskowym oraz w treningach sportowców
				z różnych dziedzin. Każde z ćwiczeń ma kilka wariantów trudności. Im większy poziom sprawności,
				tym trudniejsza technika wykonywania ćwiczeń.
			</p>
		</div>
	</div>
</MainLayout>
