---
import ButtonLink from "./ButtonLink.astro"
---

<section class="group mx-auto w-full max-w-5xl px-4 pb-4 pt-12 sm:pt-14 md:px-10 md:pt-20 lg:px-16">
	<div class="grid items-center justify-items-center gap-4 sm:grid-cols-[auto_minmax(0,_1fr)]">
		<div class="space-y-8">
			<h1 class="text-3xl font-extrabold md:text-4xl lg:text-5xl">
				Congrats on Migrating<br />WordPress to Astro
			</h1>
			<div>
				<div class="text-balance text-xl sm:text-2xl">
					We've handled the tedious part...<br />Now let's make it pretty too
				</div>
			</div>
			<div>
				<ButtonLink href="#">Get In Touch</ButtonLink>
			</div>
		</div>
		<div class="row-start-1 grid aspect-square max-w-[300px] sm:row-start-auto">
			<svg
				class="col-start-1 row-start-1 m-4 w-1/12 self-end blur-[1px]"
				xmlns="http://www.w3.org/2000/svg"
				xml:space="preserve"
				style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.5"
				viewBox="0 0 185 185"
			>
				<path
					d="M1480.41 2209.05c-.36-.11-.72-.22-1.07-.33-.46-.14-.92-.28-1.39-.42-412.2-125.86-712.401-509.46-712.401-962.63 0-452.475 299.281-835.601 710.511-962.054.63-.194 1.27-.387 1.89-.58.82-.25 1.64-.499 2.46-.746 413.47 125.082 714.87 509.312 714.87 963.38 0 454.07-301.4 838.3-714.87 963.38Zm0-35.2c394.19-124.19 679.91-493.19 679.91-928.18 0-434.993-285.72-803.993-679.91-928.181-394.19 124.191-679.904 493.188-679.904 928.181 0 434.99 285.714 803.99 679.904 928.18Z"
					style="fill:#d9d9d9"
					transform="matrix(.08582 0 0 .08954 -34.978 -19.177)"></path>
				<path
					d="m1758.69 2075.07-.96-.66c-264.36-181.41-437.89-485.75-437.89-830.29 0-343.983 172.96-647.883 436.59-829.403 264.89 181.337 438.85 485.99 438.85 830.953 0 343.79-172.78 647.55-436.16 829.11l-.43.29Zm-.07-38.03c243.85-178.15 401.7-466.52 401.7-791.37 0-325.802-158.77-614.905-403.83-792.924-243.84 178.148-401.69 466.515-401.69 791.374 0 325.8 158.77 614.9 403.82 792.92Z"
					style="fill:#d9d9d9"
					transform="matrix(.08582 0 0 .10381 -58.989 -36.792)"></path>
				<path
					d="M1192.67 2253.52c-578.1-3.95-1046.213-474.5-1046.213-1053.52 0-577.71 465.997-1047.439 1042.293-1053.484 1.05.865 2.1 1.732 3.15 2.602l.62.506c.45-.38.91-.76 1.36-1.139a1149.154 1149.154 0 0 1 6.45-2.028c581.31.177 1053.21 472.186 1053.21 1053.543 0 581.36-471.9 1053.37-1053.21 1053.54-1.29-.4-2.58-.8-3.87-1.21-.38-.12-.75-.24-1.13-.36-.48-.15-.96-.3-1.45-.46.34.28.67.56 1.01.84-.31.25-.62.51-.93.76-.43.14-.86.27-1.29.41Zm-10.36-36.73a36.594 36.594 0 0 1 22.68-.15c.3.1.6.19.9.29 558.56-3.18 1011.06-457.63 1011.06-1016.93 0-558.812-451.7-1012.956-1009.59-1016.919a36.656 36.656 0 0 1-29.22.205C626.948 194.93 183.055 646.037 183.055 1200c0 555.36 446.135 1007.34 999.255 1016.79Z"
					style="fill:#d9d9d9"
					transform="translate(-6.005 -6.006) scale(.08197)"></path>
				<path
					d="M146.457 1200H2253.54"
					style="fill:none;stroke:#d9d9d9;stroke-width:36.6px"
					transform="translate(-6.005 -6.006) scale(.08197)"></path>
				<path
					d="M146.457 1200H2253.54"
					style="fill:none;stroke:#d9d9d9;stroke-width:36.6px"
					transform="rotate(90 98.2 92.195) scale(.08197)"></path>
				<path
					d="M146.457 1200H2253.54"
					style="fill:none;stroke:#d9d9d9;stroke-width:38.37px"
					transform="matrix(.0742 0 0 .08197 2.898 -39.088)"></path>
				<path
					d="M146.457 1200H2253.54"
					style="fill:none;stroke:#d9d9d9;stroke-width:43.15px"
					transform="matrix(.05429 0 0 .08197 27.11 -68.87)"></path>
				<path
					d="M146.457 1200H2253.54"
					style="fill:none;stroke:#d9d9d9;stroke-width:38.37px"
					transform="matrix(.0742 0 0 .08197 2.898 27.076)"></path>
				<path
					d="M146.457 1200H2253.54"
					style="fill:none;stroke:#d9d9d9;stroke-width:43.15px"
					transform="matrix(.05429 0 0 .08197 27.11 56.843)"></path>
				<path
					d="M389.64 1231.35h141.795v13.1c-13.225 0-22.242 2.47-27.052 7.41-4.057 4.56-7.364 11.96-9.918 22.21-2.555 10.26-3.833 21.84-3.833 34.75 0 15.95 2.405 37.97 7.214 66.07l5.861 35.31 70.109 432.89 48.918-373.08c6.312-47.84 9.468-83.54 9.468-107.08 0-17.47-1.24-34.46-3.72-50.98-2.48-16.52-5.748-29.9-9.806-40.15-3.907-9.88-8.378-16.9-13.413-21.08s-11.459-6.27-19.274-6.27v-13.1H730.94v13.1c-8.867 0-15.292.76-19.275 2.28-3.982 1.52-7.702 4.75-11.158 9.69-4.509 6.83-8.153 16.61-10.934 29.33-2.78 12.72-4.17 26.49-4.17 41.3 0 13.66 2.104 37.4 6.312 71.19l55.456 451.69 61.993-384.48c9.618-58.85 14.427-104.42 14.427-136.7 0-33.79-4.433-57.71-13.3-71.76-5.411-8.36-13.601-12.54-24.572-12.54v-13.1h104.374v13.1c-10.07 2.66-17.697 7.5-22.882 14.53-5.184 7.02-10.332 19.84-15.441 38.45-7.515 26.58-16.908 74.61-28.179 144.1l-92.651 567.31h-9.243l-80.253-606.61-81.38 606.61H549.92l-100.767-612.88-6.762-41.58c-4.659-28.09-8.567-48.41-11.723-60.94-3.156-12.53-6.988-22.4-11.497-29.62-3.607-6.07-7.514-10.44-11.722-13.1-4.208-2.66-10.144-4.75-17.809-6.27v-13.1Z"
					style="fill-rule:nonzero"
					transform="matrix(.25992 0 0 .10287 -74.368 -72.3)"></path>
			</svg>

			<div
				class="col-start-1 row-start-1 grid h-full w-full -translate-x-[calc(50%_-_16px)] translate-y-[calc(50%_-_16px)] scale-[0.01] animate-launch place-content-center opacity-0"
			>
				<svg
					class="w-10"
					xmlns="http://www.w3.org/2000/svg"
					xml:space="preserve"
					style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"
					viewBox="0 0 215 216"
				>
					<path
						d="M215 0c-.029 60.121-12.756 89.843-67.182 139.925l.004 40.303-33.618 33.567-23.803-23.735-22.933 7.653C48.008 214.297 31.13 215.04 0 215c.076-36.442 1.368-47.813 17.266-67.344l7.622-23.025-23.783-23.875L34.56 67.233l40.566-.004C117.406 22.746 142.223.219 214.999 0Z"
					></path>
					<path
						d="M3.407 50.525c-.227-4.156.909-9.526 4.473-12.293l7.795 7.78c-2.751 3.559-7.87 4.73-12.268 4.513Z"
						style="fill:#f7630c"
						transform="scale(3.98841)"></path>
					<path
						d="M6.739 47.183c.079-2.504.982-5.474 2.949-7.141l4.214 4.21c-1.391 1.659-4.564 2.856-7.163 2.931Z"
						style="fill:#ffc83d"
						transform="scale(3.98841)"></path>
					<path
						d="m10.082 30.39 13.502 13.428-7.533 2.534-8.47-8.433 2.501-7.529Z"
						style="fill:#4a5459"
						transform="scale(3.98841)"></path>
					<path
						d="M10.102 30.328 20.2 20.232c6.142-6.039 10.801-11.395 16.55-13.787l10.711 10.711c-2.326 5.66-7.635 10.634-13.782 16.554L23.578 43.805 10.102 30.328Z"
						style="fill:#fff"
						transform="scale(3.98841)"></path>
					<path
						d="m10.111 30.341-5.048-5.066 5.047-5.043 10.083-.009-10.082 10.118ZM23.576 43.805l10.103-10.096v10.1l-5.041 5.043-5.062-5.047ZM17.079 35.633l8.379-8.349c.311-.364.81-.426 1.216-.067a.814.814 0 0 1-.003 1.184l-8.453 8.475a.886.886 0 0 1-1.183-.104c-.295-.348-.27-.805.044-1.139Z"
						style="fill:#00bcf2"
						transform="scale(3.98841)"></path>
					<circle
						cx="33.965"
						cy="21.912"
						r="3.353"
						style="fill:#a6a6a6"
						transform="translate(-69.811 -51.103) scale(6.01177)"></circle>
					<circle
						cx="33.965"
						cy="21.912"
						r="3.353"
						style="fill:#ccc"
						transform="translate(-1.781 -7.176) scale(4.00883)"></circle>
					<path
						d="M36.75 6.445c4.344-1.976 8.91-3.109 13.784-3.067-.014 5.513-1.298 9.869-3.071 13.78L36.75 6.445Z"
						style="fill:#e81224"
						transform="scale(3.98841)"></path>
				</svg>
			</div>

			<svg
				class="col-start-1 row-start-1 m-4 w-1/3 justify-self-end"
				xmlns="http://www.w3.org/2000/svg"
				xml:space="preserve"
				style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"
				viewBox="0 0 500 631"
			>
				<path
					d="M27.589 91.137c-4.833-4.419-6.245-13.703-4.231-20.43 3.492 4.241 8.331 5.584 13.343 6.343 7.736 1.17 15.335.732 22.522-2.804.822-.405 1.582-.943 2.481-1.489.674 1.957.85 3.932.614 5.943-.573 4.896-3.009 8.678-6.885 11.545-1.549 1.147-3.189 2.172-4.79 3.253-4.917 3.323-6.247 7.22-4.399 12.888.043.139.083.277.182.614-2.51-1.124-4.344-2.76-5.742-4.911-1.475-2.27-2.177-4.781-2.214-7.498-.019-1.322-.019-2.656-.197-3.96-.434-3.178-1.926-4.601-4.737-4.683-2.884-.084-5.166 1.699-5.771 4.507-.046.216-.113.429-.18.679l.004.003ZM0 69.587s14.314-6.973 28.668-6.973L39.49 29.12c.405-1.619 1.588-2.72 2.924-2.72 1.336 0 2.519 1.101 2.924 2.72L56.16 62.614c17 0 28.668 6.973 28.668 6.973L60.467 3.219C59.769 1.261 58.591 0 57.003 0H27.827c-1.588 0-2.718 1.261-3.464 3.219C24.311 3.35 0 69.587 0 69.587Z"
					style="fill:#17191e;fill-rule:nonzero"
					transform="scale(5.89429)"></path>
			</svg>
		</div>
	</div>
</section>
